

<section class="masthead">
  <div class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </div>
  <div class="logo">
    <img src="assets/AA_Times_Logo" alt="">
  </div>

  <ul class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li><i class="fa fa-newspaper-o" aria-hidden="true"></i><time>Today’s Paper</time></li>
    <li><i class="fa fa-video-camera" aria-hidden="true"></i><time>Video</time></li>
    <li><i ></i><button>77°F</button></li>
    <li><button>AAO<strong>+100%</strong></button></li>
  </ul>

</section>
