<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html" http-equiv="Content-Type">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to 99cats, <%= @user.name %> </h1>

    <p>
      You have successfully signed up to 99cats!
      your username is: <%= @user.login %> <br>
    </p>
    <p>
      To login to the site just follow this link: <%= @url %>
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>
